<div class="border p-3">
    <h4>Statistics</h4>

    <hr>

    <div class="border p-3 mb-2">
        <h3>Total</h3>
        <h4 class="text-center">{{ all_task_counter }}</h4>
    </div>

    <div class="border p-3 mb-2">
        <h3>Completed</h3>
        <h4 class="text-center">{{count_completed_task}}</h4>
    </div>

    <div class="border p-3 mb-2">
        <h3>Progress</h3>
        <h4 class="text-center">{{count_progress_task}}</h4>
    </div>

    <div class="border p-3 mb-2">
        <h3>Incomplete</h3>
        <h4 class="text-center">{{count_incompleted_task}}</h4>
    </div>
</div>